USE [master]
GO
/****** Object:  Database [STPS]    Script Date: 3/30/2025 4:49:34 PM ******/
CREATE DATABASE [STPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STPS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STPS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STPS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STPS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STPS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountID] [varchar](20) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[auID] [int] NOT NULL,
	[password] [varchar](30) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountDetail]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetail](
	[accountID] [varchar](20) NOT NULL,
	[email] [varchar](100) NULL,
	[avatar] [varchar](100) NULL,
	[name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authentication]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authentication](
	[authenticationID] [int] NOT NULL,
	[authenticationName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Authentication] PRIMARY KEY CLUSTERED 
(
	[authenticationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[accountId] [varchar](20) NOT NULL,
	[blogId] [varchar](20) NOT NULL,
	[blogName] [nvarchar](200) NOT NULL,
	[blogContent] [nvarchar](1000) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[blogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[locationID] [varchar](20) NOT NULL,
	[typeID] [varchar](20) NOT NULL,
	[locationName] [nvarchar](100) NOT NULL,
	[price] [float] NULL,
	[imgUrl] [varchar](150) NULL,
	[regionId] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[locationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationType]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationType](
	[typeID] [varchar](20) NOT NULL,
	[typeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LocationType] PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [varchar](20) NOT NULL,
	[accountID] [varchar](20) NOT NULL,
	[tourID] [varchar](20) NOT NULL,
	[startDate] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalizedTour]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalizedTour](
	[tourId] [varchar](20) NOT NULL,
	[accountId] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[regionId] [varchar](20) NOT NULL,
	[regionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[regionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCTour]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCTour](
	[tourID] [varchar](20) NOT NULL,
	[tcID] [varchar](20) NOT NULL,
	[price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[tourID] [varchar](20) NOT NULL,
	[tourName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[tourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourDetail]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourDetail](
	[tourID] [varchar](20) NOT NULL,
	[locationID] [varchar](20) NOT NULL,
	[rollno] [int] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourFeedback]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourFeedback](
	[feedbackID] [varchar](30) NOT NULL,
	[accountID] [varchar](20) NOT NULL,
	[tourID] [varchar](20) NOT NULL,
	[rating] [int] NULL,
	[feedbackDetail] [nvarchar](500) NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_TourFeedback] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourismCompany]    Script Date: 3/30/2025 4:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourismCompany](
	[tcID] [varchar](20) NOT NULL,
	[accountID] [varchar](20) NOT NULL,
	[tcName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TourismCompany] PRIMARY KEY CLUSTERED 
(
	[tcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Table_1]    Script Date: 3/30/2025 4:49:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Table_1] ON [dbo].[Account]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Authentication] FOREIGN KEY([auID])
REFERENCES [dbo].[Authentication] ([authenticationID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Authentication]
GO
ALTER TABLE [dbo].[AccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_AccountDetail_Account] FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[AccountDetail] CHECK CONSTRAINT [FK_AccountDetail_Account]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Account]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_LocationType] FOREIGN KEY([typeID])
REFERENCES [dbo].[LocationType] ([typeID])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_LocationType]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Region] FOREIGN KEY([regionId])
REFERENCES [dbo].[Region] ([regionId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Region]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Tour] FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Tour]
GO
ALTER TABLE [dbo].[PersonalizedTour]  WITH CHECK ADD  CONSTRAINT [FK_PersonalizedTour_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[PersonalizedTour] CHECK CONSTRAINT [FK_PersonalizedTour_Account]
GO
ALTER TABLE [dbo].[PersonalizedTour]  WITH CHECK ADD  CONSTRAINT [FK_PersonalizedTour_Tour] FOREIGN KEY([tourId])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[PersonalizedTour] CHECK CONSTRAINT [FK_PersonalizedTour_Tour]
GO
ALTER TABLE [dbo].[TCTour]  WITH CHECK ADD  CONSTRAINT [FK_TCTour_Tour] FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[TCTour] CHECK CONSTRAINT [FK_TCTour_Tour]
GO
ALTER TABLE [dbo].[TCTour]  WITH CHECK ADD  CONSTRAINT [FK_TCTour_TourismCompany] FOREIGN KEY([tcID])
REFERENCES [dbo].[TourismCompany] ([tcID])
GO
ALTER TABLE [dbo].[TCTour] CHECK CONSTRAINT [FK_TCTour_TourismCompany]
GO
ALTER TABLE [dbo].[TourDetail]  WITH CHECK ADD  CONSTRAINT [FK_TourDetail_Location] FOREIGN KEY([locationID])
REFERENCES [dbo].[Location] ([locationID])
GO
ALTER TABLE [dbo].[TourDetail] CHECK CONSTRAINT [FK_TourDetail_Location]
GO
ALTER TABLE [dbo].[TourDetail]  WITH CHECK ADD  CONSTRAINT [FK_TourDetail_Tour] FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[TourDetail] CHECK CONSTRAINT [FK_TourDetail_Tour]
GO
ALTER TABLE [dbo].[TourFeedback]  WITH CHECK ADD  CONSTRAINT [FK_TourFeedback_Account] FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[TourFeedback] CHECK CONSTRAINT [FK_TourFeedback_Account]
GO
ALTER TABLE [dbo].[TourFeedback]  WITH CHECK ADD  CONSTRAINT [FK_TourFeedback_Tour] FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[TourFeedback] CHECK CONSTRAINT [FK_TourFeedback_Tour]
GO
ALTER TABLE [dbo].[TourismCompany]  WITH CHECK ADD  CONSTRAINT [FK_TourismCompany_Account] FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[TourismCompany] CHECK CONSTRAINT [FK_TourismCompany_Account]
GO
USE [master]
GO
