################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/FileContentIndex
/.vs/STPS/FileContentIndex
/STPS-25/.vs/STPS-25
/STPS-REACT/.vs/STPS-REACT/FileContentIndex
/.vs/STPS/CopilotIndices/17.13.196.30798
